<div class="col-md-9" id="contenedorNav">
    <nav class="navbar navbar-expand-lg navbar-light" id="barraqla">
     <!-- <a class="navbar-brand" href="#" id="txtNav"></a> -->
     <img src="https://i.pinimg.com/originals/33/b8/69/33b869f90619e81763dbf1fccc896d8d.jpg" id="fotologo" alt="..." class="img-thumbnail">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#" id="txtNav"><span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#" id="txtNav">𝙄𝙣𝙞𝙘𝙞𝙖𝙧 𝙎𝙚𝙨𝙞𝙤𝙣<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" id="txtNav">𝙍𝙚𝙜𝙞𝙨𝙩𝙧𝙖𝙧𝙨𝙚</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>

   </div>
   <div class="container" >
    <form>
        <img src="https://media.discordapp.net/attachments/391085584384524292/702325917296492624/203-2030760_doug-petereson-perfil-whatsapp-sin-recortar-clipart.png?width=704&height=677" id="foto">
  
    <div id="datos" class="form-group"> 
        
      <span class="label label-primary" id="patotas" >𝙉𝙤𝙢𝙗𝙧𝙚</span>
      <input class="form-control" id="patatas" type="text" placeholder="*Campo Obligatorio*" name="nombre" [(ngModel)]="nombre">
      <span class="label label-primary" id="patotas" >𝘼𝙥𝙚𝙡𝙡𝙞𝙙𝙤</span>
      <input class="form-control" id="patatas" type="text" placeholder="*Campo Obligatorio*" name="apellido" [(ngModel)]="apellido">
      <span class="label label-primary" id="patotas" >𝘾𝙤𝙧𝙧𝙚𝙤</span>
      <input class="form-control" id="patatas"  type="text" placeholder="*Campo Obligatorio*" name="correo" [(ngModel)]="correo">
      <span class="label label-primary" id="patotas" >𝘿𝙞𝙧𝙚𝙘𝙘𝙞𝙤𝙣</span>
      <input class="form-control" id="patatas" type="text" placeholder="*Campo Obligatorio*" name="direccion" [(ngModel)]="direccion">
      <span class="label label-primary" id="patotas" >𝙋𝙖𝙨𝙨𝙬𝙤𝙧𝙙</span>
      <input  type="password" class="form-control" id="patatas" placeholder="🔐 Contraseña" name="password" [(ngModel)]="password">
      <span class="label label-primary" id="patotas" >𝘾𝙤𝙣𝙛𝙞𝙧𝙢𝙖𝙧 𝙋𝙖𝙨𝙨𝙬𝙤𝙧𝙙</span>
      <input  type="password" class="form-control" id="patatas" placeholder="🔐 Contraseña">
    </div>
      <div class="form-group">
        <button type="button" class="btn btn-primary" (click)="crearUsuario()">𝙍𝙚𝙜𝙞𝙨𝙩𝙧𝙖𝙧𝙨𝙚</button>
        
    </div>

    </form>
    
  
  
</div>
