

  <div class="col-md-9" id="contenedorNav">
    <nav class="navbar navbar-expand-lg navbar-light" id="barraqla">
     <!-- <a class="navbar-brand" href="#" id="txtNav"></a> -->
     <img src="https://i.pinimg.com/originals/33/b8/69/33b869f90619e81763dbf1fccc896d8d.jpg" id="fotologo" alt="..." class="img-thumbnail">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#" id="txtNav"><span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/login" id="txtNav">𝙄𝙣𝙞𝙘𝙞𝙖𝙧 𝙎𝙚𝙨𝙞𝙤𝙣<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/registro" id="txtNav">𝙍𝙚𝙜𝙞𝙨𝙩𝙧𝙖𝙧𝙨𝙚</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/mis-productos" id="txtNav">𝙈𝙞𝙨 𝙥𝙧𝙤𝙙𝙪𝙘𝙩𝙤𝙨</a>
          </li>
         
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="/buscar">𝘽𝙪𝙨𝙘𝙖𝙧</button>
        </form>
      </div>
    </nav>

   </div>
    <div class="container" id="contenedorCuerpo">
      
        


        <div class="row">
            <div class="col-md-12">
              <BR>
               
            </div>
        

        </div>

        <div class="input-group md-form form-sm form-2 pl-0">
          <input class="form-control my-0 py-1 -border" type="text" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <a class="btn btn-primary" href="/buscar" role="button">𝘽𝙪𝙨𝙘𝙖𝙧</a>
          </div>
        </div>

        <div class="row align-items-center">   
            <div class="col-md-12" >
              <div class="jumbotron" id="jumbito">
                <h1 class="display-4" id="txtjumbos">𝘽𝙞𝙚𝙣𝙫𝙚𝙣𝙞𝙙𝙤</h1>
                <p class="lead"  id="txtjumbos">𝙀𝙨𝙩𝙚 𝙚𝙨 𝙪𝙣 𝙩𝙚𝙭𝙩𝙤 𝙙𝙚 𝙚𝙟𝙚𝙢𝙥𝙡𝙤 𝙦𝙪𝙚 𝙥𝙧𝙤𝙣𝙩𝙤 𝙢𝙚𝙟𝙤𝙧𝙖𝙧𝙚𝙢𝙤𝙨 𝙥𝙚𝙧𝙤 𝙥𝙤𝙧 𝙖𝙝𝙤𝙧𝙖 𝙨𝙞𝙧𝙫𝙚 𝙥𝙖𝙧𝙖 𝙧𝙚𝙡𝙡𝙚𝙣𝙖𝙧</p>
                <hr class="my-4" >
                <p id="txtjumbos">𝘿𝙚𝙨𝙘𝙪𝙗𝙧𝙚 𝙡𝙖 𝙣𝙪𝙚𝙫𝙖 𝙛𝙤𝙧𝙢𝙖 𝙙𝙚 𝙩𝙧𝙖𝙙𝙚𝙖𝙧 𝙦𝙪𝙚 𝙩𝙚𝙣𝙚𝙢𝙤𝙨 𝙥𝙖𝙧𝙖 𝙩𝙞</p>
                <a class="btn btn-primary btn-lg" href="#" role="button">𝘾𝙤𝙢𝙤 𝙁𝙪𝙣𝙘𝙞𝙤𝙣𝙖</a>
              </div>
                
            </div>


        </div>

        <div class="row">
            <div class="col-md-12">
              <h2 id="lblcategorias">𝙉𝙪𝙚𝙨𝙩𝙧𝙖𝙨 𝙥𝙧𝙞𝙣𝙘𝙞𝙥𝙖𝙡𝙚𝙨 𝙘𝙖𝙩𝙚𝙜𝙤𝙧𝙞𝙖𝙨</h2>
              <br>
                

            </div>
        </div>

        <div class="row">


        
            <div class="col-md-3" >
              
              <div class="card" id="cartas">
                <img id="fotoCarta" src="https://i.blogs.es/ddcb82/asi-ctt-lifestylehouse-1440-smartthings-063016/450_1000.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text"></p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
                

            </div>

            <div class="col-md-3" >

              <div class="card" id="cartas">
                <img  id="fotoCarta" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS3eYOHXU1AOXZrAZVLP8E3AAAHyYrzOTVYf8ptYzg-RnuXXDHP&usqp=CAU" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text"></p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>

            </div>

            <div class="col-md-3" >
              <div class="card" id="cartas">
                <img  id="fotoCarta" src="https://ep01.epimg.net/elpais/imagenes/2015/12/28/buenavida/1451295238_829386_1537364054_noticia_normal.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text"></p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
                

            </div>

            <div class="col-md-3">

              <div class="card" id="cartas">
                <img  id="fotoCarta" src="https://i.blogs.es/83030d/2560_3000/450_1000.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text"></p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>

            </div>

          

            </div>




         <div class="row">
              <div class="col-md-12" >
                <h2 id="lblmasvistos">𝙇𝙤𝙨 𝙢𝙖𝙨 𝙫𝙞𝙨𝙩𝙤𝙨</h2>
                <br>
                  
  
              </div>
          </div>
      



          <div class="row text-center align-items-center" id="tarjetasAbajo">


        
            <div class="col-md-3 text-center" >
              
              <div class="card" id="cartas">
                <img src="https://i.blogs.es/ddcb82/asi-ctt-lifestylehouse-1440-smartthings-063016/450_1000.jpg" id="fotoCarta" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text"></p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
                

            </div>

            <div class="col-md-3 text-center" >

              <div class="card" id="cartas">
                <img id="fotoCarta" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS3eYOHXU1AOXZrAZVLP8E3AAAHyYrzOTVYf8ptYzg-RnuXXDHP&usqp=CAU" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text"></p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>

            </div>

            <div class="col-md-3" >
              <div class="card" id="cartas">
                <img id="fotoCarta" src="https://ep01.epimg.net/elpais/imagenes/2015/12/28/buenavida/1451295238_829386_1537364054_noticia_normal.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text"></p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
                

            </div>

            <div class="col-md-3">

              <div class="card" id="cartas">
                <img id="fotoCarta" src="https://i.blogs.es/83030d/2560_3000/450_1000.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text"></p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>

            </div>

          

            </div>

         
            
           



          


        


            
            
  </div>


  

