<div class="col-md-9" id="contenedorNav">
  <nav class="navbar navbar-expand-lg navbar-light" id="barraqla">
   <!-- <a class="navbar-brand" href="#" id="txtNav"></a> -->
   <img src="https://i.pinimg.com/originals/33/b8/69/33b869f90619e81763dbf1fccc896d8d.jpg" id="fotologo" alt="..." class="img-thumbnail">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#" id="txtNav"><span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/privado/inicio" id="txtNav">𝙄𝙣𝙞𝙘𝙞𝙤<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/privado/perfil/{{user.id}}" id="txtNav">𝙋𝙚𝙧𝙛𝙞𝙡<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/privado/mis-productos" id="txtNav">𝙈𝙞𝙨 𝙋𝙧𝙤𝙙𝙪𝙘𝙩𝙤𝙨<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/privado/agregar-producto" id="txtNav">𝘼𝙜𝙧𝙚𝙜𝙖𝙧 𝙪𝙣 𝙥𝙧𝙤𝙙𝙪𝙘𝙩𝙤<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="txtNav" (click)="logout()">𝙎𝙖𝙡𝙞𝙧</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="search">𝘽𝙪𝙨𝙘𝙖𝙧</button>
      </form>
    </div>
  </nav>

 </div>



 <div class="container" id="sidebar"> 


    <div class=row >

      <div class="col-sm-8" id="searchside" >

        <form class="form-inline my-2 my-lg-0" >
          <input class="form-control mr-sm-2" type="search" placeholder="Palabras clave" aria-label="Search">
        </form>

      </div>

      <div class="col-sm-3" >
        <div id="botonside">
          <button class="btn btn-primary btn-sm" type="search">𝘽𝙪𝙨𝙘𝙖𝙧</button>
        </div>

      </div>



    </div>
    <div class=row>
      <aside class="col-sm-12">

        <p id="texto">Filtros</p>


        <div class="card">
          <article class="card-group-item">
            <header class="card-header">
              <h6 class="title">Categorias </h6>
            </header>
            <div class="filter-content">
              <div class="card-body">
              <form>
                <label class="form-check">
                  <input class="form-check-input" type="checkbox" value="">
                  <span class="form-check-label">
                    Hogar
                  </span>
                </label> <!-- form-check.// -->
                <label class="form-check">
                  <input class="form-check-input" type="checkbox" value="">
                  <span class="form-check-label">
                    Tecnologia
                  </span>
                </label>  <!-- form-check.// -->
                <label class="form-check">
                  <input class="form-check-input" type="checkbox" value="">
                  <span class="form-check-label">
                    Moda
                  </span>
                </label>  <!-- form-check.// -->
              </form>
        
              </div> <!-- card-body.// -->
            </div>
          </article> <!-- card-group-item.// -->
          
          <article class="card-group-item">
            <header class="card-header">
              <h6 class="title">Ubicacion</h6>
            </header>
            <div class="filter-content">
              <div class="card-body">
                <div class="dropdown">
                  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Region  
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </div>
                <div class="dropdown">
                  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Comuna
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/home">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </div>
            
              </div> <!-- card-body.// -->
            </div>
          </article> <!-- card-group-item.// -->
        </div> <!-- card.// -->
        
        
        
        
        


      </aside>


    </div>

    <div class="row">
        <div class="col-sm-12" id="botonfiltros">

          <button class="btn btn-primary my-2 my-sm-0" type="search">Aplicar filtros</button>


        </div>



    </div>

 </div>
  






 <div class="container" id="contenedorBusqueda">


  <div class="row">
    <h4>𝙍𝙚𝙨𝙪𝙡𝙩𝙖𝙙𝙤𝙨 𝙙𝙚 𝙡𝙖 𝙗𝙪𝙨𝙦𝙪𝙚𝙙𝙖 :</h4>

  </div>

  <div class="row">


    
    <div class="col-md-3" >
      
      <div class="card" id="cartas">
        <img id="fotoCarta" src="https://i.blogs.es/ddcb82/asi-ctt-lifestylehouse-1440-smartthings-063016/450_1000.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text"></p>
          <a href="/privado/pantalla-producto" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
        

    </div>

    <div class="col-md-3" >

      <div class="card" id="cartas">
        <img  id="fotoCarta" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS3eYOHXU1AOXZrAZVLP8E3AAAHyYrzOTVYf8ptYzg-RnuXXDHP&usqp=CAU" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text"></p>
          <a href="/privado/pantalla-producto" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

    </div>

    <div class="col-md-3" >
      <div class="card" id="cartas">
        <img  id="fotoCarta" src="https://ep01.epimg.net/elpais/imagenes/2015/12/28/buenavida/1451295238_829386_1537364054_noticia_normal.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text"></p>
          <a href="/privado/pantalla-producto" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
        

    </div>

    <div class="col-md-3">

      <div class="card" id="cartas">
        <img  id="fotoCarta" src="https://i.blogs.es/83030d/2560_3000/450_1000.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text"></p>
          <a href="/privado/pantalla-producto" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

    </div>

  

    </div>



    <div class="row">


    
    <div class="col-md-3" >
      
      <div class="card" id="cartas">
        <img id="fotoCarta" src="https://i.blogs.es/ddcb82/asi-ctt-lifestylehouse-1440-smartthings-063016/450_1000.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text"></p>
          <a href="/privado/pantalla-producto" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
        

    </div>

    <div class="col-md-3" >

      <div class="card" id="cartas">
        <img  id="fotoCarta" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS3eYOHXU1AOXZrAZVLP8E3AAAHyYrzOTVYf8ptYzg-RnuXXDHP&usqp=CAU" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text"></p>
          <a href="/privado/pantalla-producto" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

    </div>

    <div class="col-md-3" >
      <div class="card" id="cartas">
        <img  id="fotoCarta" src="https://ep01.epimg.net/elpais/imagenes/2015/12/28/buenavida/1451295238_829386_1537364054_noticia_normal.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text"></p>
          <a href="/privado/pantalla-producto" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
        

    </div>

    <div class="col-md-3">

      <div class="card" id="cartas">
        <img  id="fotoCarta" src="https://i.blogs.es/83030d/2560_3000/450_1000.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text"></p>
          <a href="/privado/pantalla-producto" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

    </div>

  

    </div>

 </div>




