




<div class="col-md-9" id="contenedorNav">
    <nav class="navbar navbar-expand-lg navbar-light" id="barraqla">
     <!-- <a class="navbar-brand" href="#" id="txtNav"></a> -->
     <img src="https://i.pinimg.com/originals/33/b8/69/33b869f90619e81763dbf1fccc896d8d.jpg" id="fotologo" alt="..." class="img-thumbnail">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#" id="txtNav"><span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/Home" id="txtNav">𝙄𝙣𝙞𝙘𝙞𝙤<span class="sr-only">(current)</span></a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="/buscar">𝘽𝙪𝙨𝙘𝙖𝙧</button>
        </form>
      </div>
    </nav>

   </div>

   
    <div class="container">
    <div class="container-login" >
    <!-- <video autoplay muted loop id="myVideo">
    <source src="vaporwave.mp4" type="video/mp4">
  </video> -->
    <div class="login-form">
    <form >
        <h2 class="text-center">𝙎𝙞𝙨𝙩𝙚𝙢𝙖 𝙙𝙚 𝙏𝙧𝙪𝙚𝙦𝙪𝙚𝙨</h2>

             <div class="form-group">
                 <b class="text-center">𝙐𝙨𝙪𝙖𝙧𝙞𝙤: </b>
            <input  type="text" class="form-control" placeholder="👤 Usuario" name="nombre" [(ngModel)]="nombre">
            </div>

        
        <div class="form-group">
            <b>𝙋𝙖𝙨𝙨𝙬𝙤𝙧𝙙: </b>
            <input  type="password" class="form-control" placeholder="🔐 Contraseña" name="password" [(ngModel)]="password">
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-primary" (click)="iniciarSesion()">Ingresar</button>
            
        </div>
        <div class="clearfix">
            
    <div id=links>      
   <a class="pull-center" href="www.uwu.com">Recuperar contraseña</a><br>
   <a class="pull-center" href="www.uwu.com">Olvidaste tu Usuario?</a><br>
   <a class="pull-left" href="www.asd.com">Regístrate</a><br>
   <a class="pull-right" href="#" class="text-warning">patitas</a>
    </div>        
            
        </div>
    
    </form>
    </div>
